html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6em;
}

.main-container {
    padding-top: 80px;
}

/* Navigation bar styles */
.navbar-brand {
    font-weight: 600;
    padding-top: 18px !important;
    padding-bottom: 0px !important;
}

.navbar-logo {
    padding-top: 1px !important;
    margin-top: -8px;
    margin-right: 10px;
}

/* Add top border, remove bottom one */
nav.navbar {
    border-top: #0c60ff 10px solid;
    border-bottom: none;
}

/* Increase default navbar height */
.navbar-fixed-top {
    height: 73px;
}

.navbar-nav > li > a {
    padding-top: 21px !important;
    padding-bottom: 21px !important;
    font-size: 1.1em;
}

/* Custom background color for the navbar */
.navbar-inverse {
    background-color: #eeeeee;
}

/* Custom hover background */
ul.nav.navbar-nav li a {
    color: #818181;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #3ca8ff;
}

.navbar-brand {
    color: #000000 !important;
}

/* Custom color for responsive button thingy */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle {
    background-color: #818181;
    border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #3ca8ff;
    border: none;
}

/* Custom style for responsive menu bar */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #eeeeee;
    /*border-top: #0c60ff solid;*/
}

/* Homepage */
h2.tagline {
    font-size: 1.5em;
}

div.row-2 {
    margin-top: 20px;
}

div.row-3, div.row-4 {
    margin-top: 10px;
}

/* Other */

div.page-content {
    font-size: 13pt;
}

img.inline {
    padding-top: 10px;
    padding-bottom: 10px;
}

img.center {
    margin: 0 auto;
}

/* Blog styles */
div.post h2 {
    padding-bottom: 10px;
}

div.post-meta {
    margin-top: 30px;
}

@media (min-width: 992px) {
    div.post-tags p {
        float: right;
    }
}

/* Misc */
code {
    font-family: 'Inconsolata', monospace;
    font-size: 11pt !important;
}

/* Footer */
footer {
    margin: 20px 0;
    font-size: 0.9em;
}

div.footer-text {
    margin-top: 10px;
}
